<footer class="p-4 mt-5">
  <div class="container p-4">
    <div class="row">
      <img class="d-inline" src="../../../assets/img/logo-footer.svg" alt="" />
      <ul class="nav justify-content-center mx-auto">
        <li class="nav-item ml-3 mr-3">
          <span class="nav-link text-white text-uppercase">
            Politica de Privacidad
          </span>
        </li>
        <li class="nav-item ml-3 mr-3">
          <span class="nav-link text-white text-uppercase">
            Términos y Condiciones
          </span>
        </li>
      </ul>
    </div>
  </div>
  <hr class="bg-white" />
  <p class="text-center text-white">
    © 2019 Powered by Lynk. All Rights Reserved.
  </p>
</footer>
